.body{
    background-color: rgb(19, 17, 17);
    color: white;
    margin: 40px;
}
.navbar{
    color: white;
    margin: 30px;
}
.fin{
    color: rgb(156, 204, 24);
}
.button{
background-color: rgb(174, 209, 18);
padding: 10px;
border-radius: 16px;
color: black;
}
.welcome{
    padding-top: 30px;
}
.usecases{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.for{
display: flex;
justify-content: space-around;
flex-direction: row;
padding-top: 50px;
}
.individuals{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.business{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.three{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.text{
    color: lightgrey;
}

.features{
    background-color: rgb(34, 32, 32);
    padding: 40px;
}
.feature{
    margin:50px;
}
.gridcontainer{
display: grid;
grid-template: 1fr 1fr / 1fr 1fr;
gap: 50px;
padding: 40px;
}
.testimonials{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 30px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(92, 91, 91, 0.2);
    transition: 0.3s;
    padding: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(201, 191, 191, 0.2);
  }
.test{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(197, 186, 186, 0.2);
    transition: 0.5s;
    padding: 20px;
    align-items: center;
}

